* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    padding: 11.14px 100.23px 11.14px 100.23px;

}

.navitem {
    list-style-type: none;
    margin-right: 16.71px;
    

}
.navitem a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: grey;
    font-size: 11.14px;
}

    
#register a {
    color: white;
    background-color: green;
    padding: 9.74px 22.27px;
    border-radius: 4px;

}

#arrow {
margin-left: 10px;
}